// Fonts
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;700&display=swap");
// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

$backgroundColor: #fff;
$background-darker: #f1f1f1;
$liHover: #a9a9a9;
$text-color: #000000;
$text-color-2: #d61f1f;
$text-color-3: #303030;
$border-color: #666;
$navbar-color: #525050;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

html {
    position: relative;
    height: 100%;
}

body {
    background-color: $backgroundColor;
    margin: 0 auto;
}

.wrapper {
    height: 100vh;
    justify-content: center;
    padding: 0 5em 2em 5em;
    width: 100%;
    margin: 0 auto;
}

// navbar
  nav{
    background: $navbar-color;
    height: 56px;
    width: 100%;
  }
  label.logo{
    color: $backgroundColor;
    font-size: 18px;
    line-height: 56px;
    padding: 0 100px;
    font-weight: bold;
  }
  nav ul{
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 56px;
    margin: 0 5px;
  }
  nav ul li a{
    color:$backgroundColor;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  a:hover{
    background: $border-color;
    transition: .5s;
  }
  .checkbtn{
    font-size: 30px;
    color:$backgroundColor;
    float: right;
    line-height: 56px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  @media (max-width: 952px){
    label.logo{
      font-size: 12px;
      padding-left: 50px;
    }
    nav ul li a{
      font-size: 16px;
      letter-spacing: 1px;
    }
  }
  @media (max-width: 858px){
    .checkbtn{
      display: block;
    }
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: $liHover;
      top: 56px;
      left: -100%;
      text-align: center;
      transition: all .5s;
      z-index: 100;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 12px;
    }
    a:hover{
      background: none;
      color: $border-color;
    }
    #check:checked ~ ul{
      left: 0;
    }
  }

// action bar
.action-bar { 
    max-width: 1366px;
    height: auto;
    margin: 0 auto;
    ul {
    // text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    li {
        width: auto;
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;
        cursor: pointer;
        padding: 0.5em 2em;
        font-size: 14px;
        font-weight: 300;
        letter-spacing: 2px;
        .selection-button {
            font-weight: 300;
            letter-spacing: 2px;
            color: $border-color;
            line-height: 1.12em;
            text-align: center;
            padding: 3px 20px 3px 6px;
            position: relative;
            width: 100%;
            height: 42px;
            border-radius: 0;
            border: 1px solid $liHover;
            border-right: none;
            border-left: none;
            background-color: rgba(0, 0, 0, 0);

            &:after {
                content: "";
                color: $border-color;
                position: absolute;
                padding-left: 10px;
                right: 2px;
                top: 14px;
                height: 11px;
                width: 11px;
                background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='angle-down' class='svg-inline--fa fa-angle-down fa-w-10' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3E%3Cpath fill='currentColor' d='M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z'%3E%3C/path%3E%3C/svg%3E");
                background-repeat: no-repeat;
                background-position: 50%;
            }
            &:focus {
                outline: 0;
            }
            &:hover {
                color: $text-color-2;
                border: 1px solid $text-color-2;
                border-right: none;
                border-left: none;
            }
            &:hover:after {
                background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='angle-down' class='svg-inline--fa fa-angle-down fa-w-10' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3E%3Cpath fill='%23d61f1f' d='M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z'%3E%3C/path%3E%3C/svg%3E");
                background-repeat: no-repeat;
                background-position: 50%;
            }

            .selection-text {
                padding-right: 8px;
                letter-spacing: 0.3px;
                vertical-align: middle;
                min-height: 18px;
                max-height: 100%;
                overflow: hidden;
            }
        }
    }
}
}

.cards-section {
    max-width: 1366px;
    grid-template-columns: repeat(auto-fit, minmax(330px, 370px));
    grid-gap: 0.4em;
    display: grid;
    align-content: center;
    justify-content: center;
    margin: 0 auto;
    a {
        text-decoration: none;
    }
    .card-item {
        position: relative;
        img {
            width: 100%;
            height: 200px;
            margin: 0;
            padding: 0;
        }
        .product-description {
            p {
                color: $text-color;
                font-size: 14px;
                padding: 0.7em 0;
                margin: 0;
                line-height: 1.5em;
            }
        }
        .old-price {
            text-decoration: line-through;
            font-size: 12px;
            color: $text-color;
            padding: 0.2em;
        }
        .new-price {
            color: $text-color-2;
            font-weight: 600;
            padding: 0.2em;
        }

        button:focus {
            outline: 0;
        }

        .favorite {
            position: absolute;
            top: 15px;
            right: 15px;
            width: 36px;
            height: 36px;
            border-radius: 50%;
            color: $text-color-3;
            border: none;
            text-align: center;
            font-size: 1.2rem;
            text-decoration: none;
            transition: 0.5s;
            &:hover {
                transform: scale(1.1);
                color: $text-color-2;
            }
            i.fas.fa-heart {
                line-height: 36px;
            }
        }
    }
}

footer {
    background-color: $background-darker;
    position: relative;
    padding: 2em 2em 0 2em;
    margin-top: 2.5em;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
}

.footer {
    display: grid;
    gap: 2em;
    grid-template-columns: 33% 33% 33%;
    justify-content: center;
}

.customer-care {
    padding-left: 1.8em;
    h5 {
        font-size: 16px;
        text-transform: capitalize;
        margin-bottom: 0;
        color: $text-color-3;
    }
}

.customer-care li a {
    font-size: 11.2px;
    line-height: 1.5em;
    color: $text-color-3;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    &:hover {
        text-decoration: underline;
    }
}

.customer-care ul {
    list-style-type: none;
}

.footer-about {
    padding-left: 1.8em;
    h5 {
        font-size: 16px;
        text-transform: capitalize;
        margin-bottom: 0;
        color: $text-color-3;
    }
}

.footer-about-text p {
    font-size: 1rem;
    line-height: 1.3em;
    text-align: left;
    &:first-child {
        font-style: italic;
    }
}

.footer-newsletter {
    padding-left: 1.8em;
    h5 {
        font-size: 16px;
        text-transform: capitalize;
        margin-bottom: 0;
        color: $text-color-3;
    }
    p {
        padding-bottom: 2em;
        margin: 0;
    }

    form {
        background: $backgroundColor;
        border-radius: 10px;
        width: 90%;
    }

    form > input[type="email"] {
        background: $backgroundColor;
        padding: 0.7em;
        border: none;
        text-align: left;
        width: 55%;
        &:focus {
            outline: none;
        }
    }
    form > span {
        position: relative;
    }
    form > span > input[type="submit"] {
        position: absolute;
        padding: 0.6em;
        background: $text-color;
        color: $backgroundColor;
        border: none;
        letter-spacing: 3px;
        line-height: 14px;
        white-space: nowrap;
        cursor: pointer;
        left: 10px;
        top: -6px;
    }
}

.footer-secondary {
    #copyright {
        margin: 1em 0;
        padding: 0.2em;
        text-align: center;
        text-transform: uppercase;
        font-size: 11.2px;
        font-weight: 300;
    }
    ul {
        list-style-type: none;
        text-align: center;
        li {
            display: inline-block;
            margin: 0.2em auto;
            line-height: 1em;
            padding: 0 0.5em 0 0.5em;
            a > span > i {
                color: black;
                cursor: pointer;
            }
        }
    }
}
